table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 12px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.first_td {
	width: 2%;
	text-align: center;
}